{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p>{{message}}</p>
{% endfor %}
{% endif %}
{%endwith%}
<html>
    <head>
        <title>Investigacion</title>
    </head>
    <body>
        <header>
        hola
        </header>
        <form action="/register" method="POST">
            <input type="text" name="usuario" placeholder="usuario">
            <input type="text" name="contraseña" placeholder="contraseña">
            <input type="text" name="rol" placeholder="rol">
            <button type="submit">Iniciar sesión</button>
            <button type="button">Registrarse</button>
        </form>
        <table>
            <thead>
                <tr>
                    <td>Nombre</td>
                    <td>contraseña</td>
                    <td>rol</td>
                    <td>Operaciones</td>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{usuario.0}}</td>
                    <td>{{usuario.1}}</td>
                    <td>{{usuario.2}}</td>
                    <td>
                        <a href="/estudiante/{{usuario.0}}">estudiante</a>
                        <a href="/profesor/{{usuario.0}}">profesor</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <footer>chau</footer>
    </body>
</html>
